
.boxItems {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgb(75, 67, 67);
}
.moviePicture {
margin: 10px;
}
.pagination {
    display: flex;
	justify-content: center;
	background-color: rgb(75, 67, 67);
}